:root {
    --dark-green: #537A5A;
    --light-green: #93B7A8;
    --battleship: #909590;
    --outer-space: #474A48;
    --jet: #2C302E;
}

body {
    background-color: white;
}

header {
    position: absolute;
    top: 0;
}

header nav ul li a {
    color: black !important;
    font-size: 1.5rem !important;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav ul li a:active {
    background-color: white;
}

header nav ul li .active {
    background: none !important;
    text-decoration: underline;
}

.hero {
    background-image: url(img/taniti-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.hero-food-and-lodging {
    background-image: url(img/lodging.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-fun {
    background-image: url(img/fun.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-transportation {
    background-image: url(img/transportation.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-faq {
    background-image: url(img/faq.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-title {
    color: white;
    opacity: 1;
    filter: brightness(1) saturate(1);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 5rem;
}

.hero-subtitle {
    color: white !important;
    font-size: 2rem;
    text-shadow: 1px 1px 2px pink;
}

.about {
    margin-top: 5rem;
    overflow: hidden;
    font-size: 1.5rem;
}

.citable-image {
    position: relative;
    float: right;
    width: 40%;
    height: auto;
    padding-left: 2rem;
}

.citable-image img {
    width: 100%;
    height: auto;
}

.citable-image p {
    font-size: 1rem;
}

.learn-more {
    margin-top: 5rem;
}

.learn-more img {
    width: 100%;
    height: auto;
}

.learn-more a {
    margin-bottom: 0;
    text-decoration: none;
    color: black;
}

.learn-more a:hover {
    text-decoration: underline;
}

.learn-more .container .row {
    margin-top: 1rem;
}

.learn-more .container .row h4 {
    font-size: 1.3rem;
}

.footer {
    margin-top: 5rem;
    font-size: 0.75rem;
}

footer {
    min-height: 100%;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--dark-green);
    color: white;
}

footer .row {
    min-height: 100%;
}

.footer-note {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.footer-note a {
    color: white;
}

.references {
    font-size: 0.75rem;
}

.references h3 {
    font-size: 1rem;
}